<h2 mat-dialog-title>Selected School Information</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="[data.data]" class="mat-elevation-z8">

    <ng-container matColumnDef="dbn">
        <th mat-header-cell *matHeaderCellDef> DBN </th>
        <td mat-cell *matCellDef="let data"> {{data.dbn}} </td>
      </ng-container>
    
      <ng-container matColumnDef="school_name">
        <th mat-header-cell *matHeaderCellDef> School Name </th>
        <td mat-cell *matCellDef="let data"> {{data.school_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="boro">
        <th mat-header-cell *matHeaderCellDef> Boro </th>
        <td mat-cell *matCellDef="let data"> {{data.boro}} </td>
      </ng-container>
    
      <ng-container matColumnDef="campus_name">
        <th mat-header-cell *matHeaderCellDef> Campus Name </th>
        <td mat-cell *matCellDef="let data"> {{data.campus_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="state_code">
        <th mat-header-cell *matHeaderCellDef> State Code </th>
        <td mat-cell *matCellDef="let data"> {{data.state_code}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let data"> {{data.city}} </td>
      </ng-container>

      <ng-container matColumnDef="total_students">
        <th mat-header-cell *matHeaderCellDef> Total Students </th>
        <td mat-cell *matCellDef="let data"> {{data.total_students}} </td>
      </ng-container>

      <ng-container matColumnDef="fax_number">
        <th mat-header-cell *matHeaderCellDef> FAX </th>
        <td mat-cell *matCellDef="let data"> {{data.fax_number}} </td>
      </ng-container>

      <ng-container matColumnDef="finalgrades">
        <th mat-header-cell *matHeaderCellDef> Finalgrades </th>
        <td mat-cell *matCellDef="let data"> {{data.finalgrades}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="['dbn', 'school_name', 'boro','campus_name','state_code','city','total_students','fax_number','finalgrades']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['dbn', 'school_name', 'boro','campus_name','state_code','city','total_students','fax_number','finalgrades'];"></tr>

  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
